USE [QLTIEMCATTOC]
GO
/****** Object:  Table [dbo].[DUNGCU]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUNGCU](
	[MADUNGCU] [nchar](10) NOT NULL,
	[TENDUNGCU] [nvarchar](50) NOT NULL,
	[HINHANH] [image] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[XUATXU] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](100) NOT NULL,
	[MALOAIDUNGCU] [smallint] NOT NULL,
 CONSTRAINT [PK__DUNGCU__026261EE85CDDBED] PRIMARY KEY CLUSTERED 
(
	[MADUNGCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDUNGCU]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDUNGCU](
	[MALOAIDUNGCU] [smallint] NOT NULL,
	[TENLOAIDUNGCU] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LOAIDUNGCU] PRIMARY KEY CLUSTERED 
(
	[MALOAIDUNGCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMYPHAM]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMYPHAM](
	[MALOAIMYPHAM] [smallint] NOT NULL,
	[TENLOAIMYPHAM] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LOAIMYPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAIMYPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MYPHAM]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MYPHAM](
	[MAMYPHAM] [nchar](10) NOT NULL,
	[TENMYPHAM] [nvarchar](50) NOT NULL,
	[HINHANH] [image] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[XUATXU] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](100) NOT NULL,
	[MALOAIMYPHAM] [smallint] NOT NULL,
 CONSTRAINT [PK__MYPHAM__9E8BA85521DB20AB] PRIMARY KEY CLUSTERED 
(
	[MAMYPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[HOTEN] [nvarchar](50) NOT NULL,
	[TAIKHOAN] [nchar](30) NOT NULL,
	[MATKHAU] [nchar](30) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[GIOITINH] [nchar](3) NOT NULL,
	[CHUCVU] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_REGISTER] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPDUNGCU]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPDUNGCU](
	[MADONHANG] [nchar](10) NOT NULL,
	[MADUNGCU] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIATIEN] [bigint] NOT NULL,
	[TAIKHOAN] [nchar](30) NOT NULL,
 CONSTRAINT [PK__NHAPDUNG__518F1ADAF034048B] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MADUNGCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPMYPHAM]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPMYPHAM](
	[MADONHANG] [nchar](10) NOT NULL,
	[MAMYPHAM] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[NGAYSANXUAT] [date] NOT NULL,
	[HANSUDUNG] [date] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIATIEN] [bigint] NOT NULL,
	[TAIKHOAN] [nchar](30) NOT NULL,
 CONSTRAINT [PK__NHAPMYPH__E8418641E9F819F0] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MAMYPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEUMUON] [nchar](10) NOT NULL,
	[MADUNGCU] [nchar](10) NOT NULL,
	[SLMUON] [int] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[TAIKHOAN] [nchar](30) NOT NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGDUNGCU]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGDUNGCU](
	[MADUNGCU] [nchar](10) NOT NULL,
	[SLDCT] [int] NOT NULL,
	[SLDCSD] [int] NOT NULL,
	[SLDCH] [int] NOT NULL,
 CONSTRAINT [PK_TINGTRANGDUNGCU] PRIMARY KEY CLUSTERED 
(
	[MADUNGCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGMYPHAM]    Script Date: 10/06/2021 6:07:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGMYPHAM](
	[MAMYPHAM] [nchar](10) NOT NULL,
	[SLMPT] [int] NOT NULL,
	[SLMPSD] [int] NOT NULL,
	[SLMPH] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETTINHTRANG] PRIMARY KEY CLUSTERED 
(
	[MAMYPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAIDUNGCU] ([MALOAIDUNGCU], [TENLOAIDUNGCU]) VALUES (1, N'Kéo Cắt Tóc')
INSERT [dbo].[LOAIDUNGCU] ([MALOAIDUNGCU], [TENLOAIDUNGCU]) VALUES (2, N'Áo Choàng')
INSERT [dbo].[LOAIDUNGCU] ([MALOAIDUNGCU], [TENLOAIDUNGCU]) VALUES (3, N'Bình Xịt Tóc')
GO
INSERT [dbo].[LOAIMYPHAM] ([MALOAIMYPHAM], [TENLOAIMYPHAM]) VALUES (1, N'Sáp Vuốt Tóc')
INSERT [dbo].[LOAIMYPHAM] ([MALOAIMYPHAM], [TENLOAIMYPHAM]) VALUES (2, N'Keo Vuốt Tóc')
INSERT [dbo].[LOAIMYPHAM] ([MALOAIMYPHAM], [TENLOAIMYPHAM]) VALUES (3, N'Sữa Rữa Mặt')
GO
INSERT [dbo].[NHANVIEN] ([HOTEN], [TAIKHOAN], [MATKHAU], [SDT], [EMAIL], [GIOITINH], [CHUCVU]) VALUES (N'Gg ', N'ggggg                         ', N'gggggg                        ', N'0365888888', N'ggg@gmail.co                                      ', N'Nam', N'Nhân Viên')
INSERT [dbo].[NHANVIEN] ([HOTEN], [TAIKHOAN], [MATKHAU], [SDT], [EMAIL], [GIOITINH], [CHUCVU]) VALUES (N'Nguyễn Văn Ben ', N'Hahaha                        ', N'123456                        ', N'0367840318', N'a@haha.vn                                         ', N'Nam', N'Nhân Viên')
INSERT [dbo].[NHANVIEN] ([HOTEN], [TAIKHOAN], [MATKHAU], [SDT], [EMAIL], [GIOITINH], [CHUCVU]) VALUES (N'Hh ', N'hhh                           ', N'hhhhhh                        ', N'0906919407', N'hhhhhhh@gmail.com                                 ', N'Nam', N'Nhân Viên')
GO
INSERT [dbo].[NHAPDUNGCU] ([MADONHANG], [MADUNGCU], [NGAYNHAP], [SOLUONG], [GIATIEN], [TAIKHOAN]) VALUES (N'55        ', N'DC2       ', CAST(N'2021-05-07' AS Date), 65, 48750000, N'mrponp                        ')
INSERT [dbo].[NHAPDUNGCU] ([MADONHANG], [MADUNGCU], [NGAYNHAP], [SOLUONG], [GIATIEN], [TAIKHOAN]) VALUES (N'DH01      ', N'DC2       ', CAST(N'2021-04-02' AS Date), 86, 64500000, N'mrponp                        ')
INSERT [dbo].[NHAPDUNGCU] ([MADONHANG], [MADUNGCU], [NGAYNHAP], [SOLUONG], [GIATIEN], [TAIKHOAN]) VALUES (N'DH02      ', N'DC1       ', CAST(N'2021-04-03' AS Date), 75, 44250000, N'mrponp                        ')
GO
INSERT [dbo].[NHAPMYPHAM] ([MADONHANG], [MAMYPHAM], [NGAYNHAP], [NGAYSANXUAT], [HANSUDUNG], [SOLUONG], [GIATIEN], [TAIKHOAN]) VALUES (N'DH01      ', N'MP1       ', CAST(N'2021-04-09' AS Date), CAST(N'2021-04-01' AS Date), CAST(N'2021-04-30' AS Date), 80, 4320000, N'mrponp                        ')
INSERT [dbo].[NHAPMYPHAM] ([MADONHANG], [MAMYPHAM], [NGAYNHAP], [NGAYSANXUAT], [HANSUDUNG], [SOLUONG], [GIATIEN], [TAIKHOAN]) VALUES (N'DH02      ', N'MP2       ', CAST(N'2021-04-03' AS Date), CAST(N'2021-04-20' AS Date), CAST(N'2021-07-20' AS Date), 58, 3654000, N'mrponp                        ')
INSERT [dbo].[NHAPMYPHAM] ([MADONHANG], [MAMYPHAM], [NGAYNHAP], [NGAYSANXUAT], [HANSUDUNG], [SOLUONG], [GIATIEN], [TAIKHOAN]) VALUES (N'DH03      ', N'MP1       ', CAST(N'2021-04-01' AS Date), CAST(N'2021-04-01' AS Date), CAST(N'2021-04-30' AS Date), 25, 1350000, N'mrponp                        ')
GO
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MADUNGCU], [SLMUON], [NGAYMUON], [TAIKHOAN]) VALUES (N'56        ', N'DC1       ', 31, CAST(N'2021-04-07' AS Date), N'mrponp                        ')
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MADUNGCU], [SLMUON], [NGAYMUON], [TAIKHOAN]) VALUES (N'h         ', N'DC2       ', 25, CAST(N'2021-05-02' AS Date), N'mrponp                        ')
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MADUNGCU], [SLMUON], [NGAYMUON], [TAIKHOAN]) VALUES (N'k         ', N'DC1       ', 5, CAST(N'2021-05-01' AS Date), N'mrponp                        ')
GO
INSERT [dbo].[TINHTRANGDUNGCU] ([MADUNGCU], [SLDCT], [SLDCSD], [SLDCH]) VALUES (N'DC1       ', 0, 59, 56)
INSERT [dbo].[TINHTRANGDUNGCU] ([MADUNGCU], [SLDCT], [SLDCSD], [SLDCH]) VALUES (N'DC2       ', 65, 56, 30)
GO
INSERT [dbo].[TINHTRANGMYPHAM] ([MAMYPHAM], [SLMPT], [SLMPSD], [SLMPH]) VALUES (N'MP1       ', 716, 68, 0)
INSERT [dbo].[TINHTRANGMYPHAM] ([MAMYPHAM], [SLMPT], [SLMPSD], [SLMPH]) VALUES (N'MP2       ', 61, 72, 0)
INSERT [dbo].[TINHTRANGMYPHAM] ([MAMYPHAM], [SLMPT], [SLMPSD], [SLMPH]) VALUES (N'MP3       ', 0, 0, 0)
GO
ALTER TABLE [dbo].[DUNGCU]  WITH CHECK ADD  CONSTRAINT [FK__DUNGCU__MALOAIDU__534D60F1] FOREIGN KEY([MALOAIDUNGCU])
REFERENCES [dbo].[LOAIDUNGCU] ([MALOAIDUNGCU])
GO
ALTER TABLE [dbo].[DUNGCU] CHECK CONSTRAINT [FK__DUNGCU__MALOAIDU__534D60F1]
GO
ALTER TABLE [dbo].[MYPHAM]  WITH CHECK ADD  CONSTRAINT [FK__MYPHAM__MALOAIMY__47DBAE45] FOREIGN KEY([MALOAIMYPHAM])
REFERENCES [dbo].[LOAIMYPHAM] ([MALOAIMYPHAM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MYPHAM] CHECK CONSTRAINT [FK__MYPHAM__MALOAIMY__47DBAE45]
GO
ALTER TABLE [dbo].[NHAPDUNGCU]  WITH CHECK ADD  CONSTRAINT [FK__NHAPDUNGC__MADUN__59063A47] FOREIGN KEY([MADUNGCU])
REFERENCES [dbo].[DUNGCU] ([MADUNGCU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAPDUNGCU] CHECK CONSTRAINT [FK__NHAPDUNGC__MADUN__59063A47]
GO
ALTER TABLE [dbo].[NHAPDUNGCU]  WITH CHECK ADD  CONSTRAINT [FK__NHAPDUNGC__TAIKH__4B7734FF] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[NHANVIEN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHAPDUNGCU] CHECK CONSTRAINT [FK__NHAPDUNGC__TAIKH__4B7734FF]
GO
ALTER TABLE [dbo].[NHAPMYPHAM]  WITH CHECK ADD  CONSTRAINT [FK__NHAPMYPHA__MAMYP__5629CD9C] FOREIGN KEY([MAMYPHAM])
REFERENCES [dbo].[MYPHAM] ([MAMYPHAM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAPMYPHAM] CHECK CONSTRAINT [FK__NHAPMYPHA__MAMYP__5629CD9C]
GO
ALTER TABLE [dbo].[NHAPMYPHAM]  WITH CHECK ADD  CONSTRAINT [FK__NHAPMYPHA__TAIKH__4C6B5938] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[NHANVIEN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHAPMYPHAM] CHECK CONSTRAINT [FK__NHAPMYPHA__TAIKH__4C6B5938]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUMUON__MADUNGCU__0B5CAFEA] FOREIGN KEY([MADUNGCU])
REFERENCES [dbo].[DUNGCU] ([MADUNGCU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK__PHIEUMUON__MADUNGCU__0B5CAFEA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUMUON__TAIKH__0C50D423] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[NHANVIEN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK__PHIEUMUON__TAIKH__0C50D423]
GO
ALTER TABLE [dbo].[TINHTRANGDUNGCU]  WITH CHECK ADD  CONSTRAINT [FK_TINHTRANGDUNGCU_DUNGCU] FOREIGN KEY([MADUNGCU])
REFERENCES [dbo].[DUNGCU] ([MADUNGCU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TINHTRANGDUNGCU] CHECK CONSTRAINT [FK_TINHTRANGDUNGCU_DUNGCU]
GO
ALTER TABLE [dbo].[TINHTRANGMYPHAM]  WITH CHECK ADD  CONSTRAINT [FK_TINHTRANGMYPHAM_MYPHAM] FOREIGN KEY([MAMYPHAM])
REFERENCES [dbo].[MYPHAM] ([MAMYPHAM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TINHTRANGMYPHAM] CHECK CONSTRAINT [FK_TINHTRANGMYPHAM_MYPHAM]
GO
